
body{
    background-color: rgb(149, 209, 230);
}

.supabase-auth-ui_ui-divider{
    visibility: hidden;
}
.container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    max-width: 1400px;
    margin: 0 auto;
    background-color: rgb(149, 209, 230);
  }
  .supabase-auth-ui_ui-container{
    background-color: rgb(149, 209, 230);
  
  }
#auth-sign-in{
    margin: 0 auto;
    background-color: rgb(149, 209, 230);
}
#email{
    padding:0.5rem 2rem
}
#password{
    padding:0.5rem 2rem
}
div{
    background-color: lightblue;
    padding: 2rem;
    border-radius: 5rem;
}

.checked{
    text-decoration: line-through;
}

.form-flex{
display: flex;
align-items: center;
}

button{
    margin-left: 1rem;
    padding: 0.2rem 0.8rem;  
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

form input {
    margin-bottom: 0;
}
form button {
    white-space: nowrap;
    padding: 0.2rem 0.8rem;
}
